h1{
	color: Orangered;
    -webkit-text-stroke: .03em Lime;
    display: flex;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/ab/64/9b/ab649ba56334139cbd97344e356b94ca.jpg");
    background-size: cover;
}

h3{
  color: DeepPink;
  -webkit-text-stroke: .05em RoyalBlue;
   height: 25px;
}
.one{
	color: MediumVioletRed
}

.Aqua{
	background: Aqua;
	text-decoration: overline;
}

.Plum{
	background: Plum;
	text-decoration: underline;
}

.SpringGreen{
	background: SpringGreen;
	text-decoration: line-through;
}

select{
	color: Olive;
}

.info{
	border: 20px solid LimeGreen;
	height: 200px;
	width: 200px;
	padding-right: 10px;
	margin-top: 10%;
}

input{
	border-color: Crimson;
}

.animals{
	color: Blue;
	font-size: 15px;
	height: 50px;
	width: 500px;
	background-color: PeachPuff;
}

ul li:nth-child(even){ 
	color: Red;
}

li{
	display: flex;
	justify-content: flex-end;
}

.picture{
	display: flex;
	justify-content: flex-end;
}

.sound{
	display: flex;
	justify-content: center;
}